body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background: url('assets/rain.jpg') no-repeat center center/cover; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 350px;
    height: 700px;
    /* background: rgba(0, 0, 0, 0.3); */
    background: url('assets/rain.jpg') no-repeat center center/cover;
    opacity: 0.7;
    border-radius: 30px;
    padding: 20px;
    color: white;
    text-align: center;
}
.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.dot {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    margin: 0 3px;
    opacity: 0.5;
}
.dot.active {
    opacity: 1;
}
.city {
    font-size: 24px;
    font-weight: bold;
    padding-top: 50px;
}
.weather {
    font-size: 18px;
    margin-top: 0px;
}
.temperature {
    font-size: 60px;
    font-weight: bold;
    margin-top: 5px;
}
.range {
    font-size: 16px;
}
.insights{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    padding: 10px;
    margin-top: 20px;
}
.insights-title {
    /* padding: 10px; */
    
    text-align: left;
    display: flex;
    align-items: center;
}
.insights img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.insight-box {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 14px;
    margin-top: 5px;
    text-align: left;
}
.input-box {
    margin-top: 20px;
    display: flex;
    background: white;
    border-radius: 20px;
    padding: 5px;
}
.input-box input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    border-radius: 20px;
}
.input-box button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
}